<tr>
  <td class="align-middle">
    <%= tag.span "", class: classes(
          "tile tile-circle text-white mr-1": true,
          "bg-green": campaign.hourly_budget_available?,
          "bg-light": !campaign.hourly_budget_available?
    ) %>
  </td>
  <td class="align-middle text-truncate">
    <%= link_to campaign.name, campaign, class: "text-dark font-weight-bold" %>
    <small class="d-block"><%= link_to campaign.organization.name, campaign.organization %></small>
  </td>
  <td class="align-middle text-center">
    <%= inline_circle_icon("fad fa-usd-square text-green", title: "Out of budget") unless campaign.budget_available? %>
    <%= inline_circle_icon("fad fa-turtle text-green", title: "Campaign is pacing too slow") if campaign.pacing_too_slow? %>
    <%= inline_circle_icon("fad fa-rabbit-fast text-pink", title: "Campaign is pacing too fast") if campaign.pacing_too_fast? %>
    <%= inline_circle_icon("fad fa-coins text-yellow", title: "Should increase daily caps") if campaign.should_increase_caps? %>
    <%= inline_circle_icon("fad fa-coin text-yellow", title: "Should decrease daily caps") if campaign.should_increase_inventory? %>
  </td>
  <td class="align-middle">
    <div class="progress bg-muted mb-2">
      <%= tag.div role: "progressbar", class: classes(
            "bg-purple progress-bar progress-bar-striped": true,
            "progress-bar-animated": campaign.active? && campaign.percentage_complete_by_date == 100
        ), aria: {
          valuenow: campaign.percentage_complete_by_date,
          valuemin: 0,
          valuemax: 100
        },
        title: "#{campaign.percentage_complete_by_date}% complete by budget with #{pluralize(campaign.remaining_operative_days, 'day')} remaining",
        style: "width: #{campaign.percentage_complete_by_date}%", data: tooltip_expando do %>
        <span class="sr-only"><%= campaign.percentage_complete_by_date %>%</span>
      <% end %>
    </div>
    <div class="progress bg-muted">
      <%= tag.div role: "progressbar", class: classes(
            "bg-green progress-bar progress-bar-striped": true,
            "progress-bar-animated": campaign.active? && campaign.percentage_complete_by_budget == 100
        ), aria: {
          valuenow: campaign.percentage_complete_by_budget,
          valuemin: 0,
          valuemax: 100
        },
        title: "#{campaign.percentage_complete_by_budget}% complete by budget with #{pluralize(campaign.estimated_days_until_budget_consumed, 'day')} remaining",
        style: "width: #{campaign.percentage_complete_by_budget}%", data: tooltip_expando do %>
        <span class="sr-only"><%= campaign.percentage_complete_by_budget %>%</span>
      <% end %>
    </div>
  </td>
  <td class="align-middle text-center"><%= campaign.total_remaining_budget(exclude_org_balance: true).format %></td>
  <td class="align-middle text-center"><%= number_to_percentage campaign.click_rate(campaign.start_date, campaign.end_date), precision: 3 %></td>
  <td class="align-middle text-right">
    <% if campaign.standard? %>
      <%= render_later async_campaign_sparkline_path(campaign_id: campaign.id) do %>
        <i class="fa fa-spinner fa-spin text-primary"></i>
      <% end %>
    <% else %>
      <span class="opacity-30">N/A</span>
    <% end %>
  </td>
</tr>