<div id="campaign-<%= campaign.temporary_id %>" class="row" data-campaign>
  <div class="col">
    <div class="card">
      <div class="card-header bg-muted d-flex justify-content-between">
        <span>
          Campaign <%= campaign_iteration.index + 1 %>
          <span class="opacity-30 mx-1">|</span>
          <%= number_to_percentage campaign.budget_percentage_of_insertion_order, precision: 1 %> of Insertion Order
          <span class="opacity-30 mx-1">|</span>
          Reserved
          <%= tag.strong number_with_delimiter campaign.audience.purchasable_impressions_count(campaign.start_date, campaign.end_date, region: campaign.region, total_budget: campaign.total_budget) %>
          impressions at <%= tag.code campaign.audience.ecpm_for_region(campaign.region).format %> eCPM
          for a total of <%= tag.code campaign.total_budget.format(symbol: false, no_cents: true) %>
        </span>
        <i class="fas fa-times cursor-pointer" data-reflex="click->InsertionOrdersReflex#remove_campaign" data-temporary-id="<%= campaign.temporary_id %>"></i>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item pb-0">
          <div class="form-group">
            <label>Allocated Budget (USD)</label>
            <%= number_field_tag :total_budget, campaign.total_budget, id: "total_budget-#{campaign.temporary_id}", autofocus: true, required: true, label: "Budget (USD)", class: "form-control",
              data: {temporary_id: campaign.temporary_id, reflex: "debounced-input->InsertionOrdersReflex#set_campaign_budget"} %>
            <small class="text-muted">Usable Budget: <%= campaign.total_budget.format(no_cents: true) %></small>
          </div>

          <div class="form-group ml-2">
            <label>Audience</label>
            <%= select_tag :audience, options_from_collection_for_select(Audience.all, "id", "name", campaign.audience.id), id: "audience-#{campaign.temporary_id}", class: "form-control",
              data: {temporary_id: campaign.temporary_id, reflex: "debounced-input->InsertionOrdersReflex#set_campaign_audience"} %>
          </div>

          <div class="form-group ml-2">
            <label>Region</label>
            <%= select_tag :region, options_from_collection_for_select(Region.all, "id", "name", campaign.region_id), id: "region-#{campaign.temporary_id}", class: "form-control",
              data: {temporary_id: campaign.temporary_id, reflex: "debounced-input->InsertionOrdersReflex#set_campaign_region"} %>
          </div>
        </li>

        <li class="list-group-item py-0 my-0">
          <div style="width:100%; height:200px; position:relative; top:-15px;"
               data-controller="inventory-chart"
               data-start-date="<%= campaign.start_date.iso8601 %>"
               data-end-date="<%= campaign.end_date.iso8601 %>"
               data-payload="<%= campaign.audience.stacked_bar_chart_series(campaign.start_date, campaign.end_date, region: campaign.region, total_budget: campaign.total_budget).to_json %>"></div>
        </li>
      </ul>
    </div>
  </div>
</div>
