<%# render "/insertion_orders/campaign" %>

<div class="container" data-controller="insertion-orders">
  <h1>
    Insertion Order Form
    <small><i class="fas fa-spinner text-info" hidden data-target="insertion-orders.spinner"></i></small>
  </h1>
  <hr />

  <div class="row">
    <div class="col-3">
      <div class="form-group">
        <label>Budget (USD)</label>
        <%= number_field_tag :budget, @insertion_order.budget, autofocus: true, required: true, label: "Budget (USD)",
          class: "form-control form-control-lg", data: {reflex: "debounced-input->InsertionOrdersReflex#set_budget"} %>
        <small class="text-muted">Usable Budget: <%= @insertion_order.budget.format(no_cents: true) %></small>
      </div>
    </div>

    <div class="col-3">
      <div class="form-group">
        <label>Dates</label>
        <%= text_field_tag :date_range, nil, required: true, label: "Start / End Date",
            class: "js-range-datepicker form-control form-control-lg bg-white rounded",
            data: {
              controller: "select-date-range",
              reflex: "debounced-input->InsertionOrdersReflex#set_dates",
              start_date: @insertion_order.start_date.to_s("mm/dd/yyyy"),
              end_date: @insertion_order.end_date.to_s("mm/dd/yyyy"),
            } %>
      </div>
    </div>

    <div class="col-3">
      <div class="form-group">
        <label>Allocated Budget</label>
        <div class="form-control form-control-lg bg-transparent">
          <%= @insertion_order.allocated_budget.format %>
          <span class="text-muted">(<%= number_to_percentage @insertion_order.allocated_budget_percentage, precision: 1 %>)</span>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="form-group">
        <label>Impressions</label>
        <div class="form-control form-control-lg bg-transparent">
          <%= number_with_delimiter @insertion_order.estimated_impressions_count %>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: "/insertion_orders/campaign", collection: @insertion_order.campaigns %>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <% if @insertion_order.budget_allocated? %>
          <a href="" class="btn btn-lg btn-success mt-4 text-white" data-reflex="">Submit Insertion Order</a>
        <% else %>
          <a href="" class="btn btn-lg btn-primary mt-4 text-white" data-reflex="click->InsertionOrdersReflex#add_campaign">Add Campaign</a>
        <% end %>
      </div>
    </div>
  </div>
</div>
